appdirs==1.4.4
asgiref==3.3.1
atomicwrites==1.4.0
attrs==20.3.0
beautifulsoup4==4.9.3
bootstrap4==0.1.0
cached-property==1.5.2
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
coreapi==2.3.3
coreschema==0.0.4
coverage==5.5
cssselect==1.1.0
cx-Freeze==6.5.3
cycler==0.10.0
defusedxml==0.6.0
distlib==0.3.1
dj-database-url==0.5.0
Django==2.2.4
django-admin-honeypot==1.1.0
django-bootstrap4==3.0.0
django-cors-headers==3.7.0
django-heroku==0.0.0
django-stdimage==5.3.0
djangorestframework==3.12.4
djangorestframework-jwt==1.11.0
drf-yasg==1.20.0
estiloWidgets==0.1.1
filelock==3.0.12
flake8==3.9.1
goose3==3.1.8
gunicorn==19.9.0
idna==2.10
importlib-metadata==3.10.0
inflection==0.5.1
iniconfig==1.1.1
isodate==0.6.0
itypes==1.2.0
jieba==0.42.1
Jinja2==2.11.3
joblib==1.0.1
kiwisolver==1.3.1
lxml==4.6.2
machinelearning==0.1
MarkupSafe==1.1.1
matplotlib==3.3.4
mccabe==0.6.1
nltk==3.5
numpy==1.20.1
opencv-python==4.5.1.48
packaging==20.9
pandas==1.2.3
path==15.1.2
Pillow==8.1.0
pluggy==0.13.1
psycopg2-binary==2.8.6
py==1.10.0
pycep-correios==5.0.0
pycodestyle==2.7.0
pyflakes==2.3.1
PyJWT==1.7.1
PyMySQL==1.0.2
pyparsing==2.4.7
pypi-install==0.0.5
pytest==6.2.3
pytest-cov==2.11.1
python-dateutil==2.8.1
pytz==2019.2
pyusb==1.1.1
regex==2021.4.4
reportlab==3.5.59
requests==2.25.1
requests-file==1.5.1
requests-toolbelt==0.9.1
ruamel.yaml==0.17.4
ruamel.yaml.clib==0.2.2
scikit-learn==0.24.1
scipy==1.6.1
seaborn==0.11.1
six==1.15.0
sklearn==0.0
soupsieve==2.2.1
sqlparse==0.3.0
threadpoolctl==2.1.0
tkcalendar==1.1.5
toml==0.10.2
tqdm==4.59.0
uritemplate==3.0.1
urllib3==1.26.3
virtualenv==20.4.0
webscraping==1.7.1
whitenoise==4.1.3
zeep==4.0.0
zipp==3.4.1
